[submodule "lib/CMSIS"]
	path = lib/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "lib/cmsis_device_f4"]
	path = lib/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4
[submodule "workspace/lib/tinyusb"]
	path = workspace/lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
